// Place all the styles related to the api::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
 --purple: #796eff;
 --gold: #f2a100;
 --hover-blue: #008ce3;
 --light-blue: #32c1ff;
 --bright-blue: #15aaf5;
 --slate: #151b26;
 --dark-grey: #636e79;
 --light-grey: #e0e6e8;
 --off-white: #f6f8f9;
 --bg-grey: #f6f8f9;
 padding: 0;
 margin: 0;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  text-align: center;
  padding-top: 7px;
  box-sizing: border-box;
  display: inline-block;
  margin-left: 8px;
  color: white;
  background: #fc91ad;
}
