.sidebar-wrapper {
  float: left;
  position: relative;
}

.sidebar {
  height: 100vh;
  width: 240px;
  font-family: Roboto;
  font-size: 13px;
  color: white;
  background-color: var(--slate);
  top: 0;
  animation: slide-in-right .32s;
  -webkit-animation: slide-in-right .32s;
   -moz-animation: slide-in-right .32s;
}

@keyframes slide-in-right {
    from { transform: translate(-100%, 0%);}
    to   { transform: translate(0%, 0%);}
}
@-webkit-keyframes slide-in-right {
    from { transform: translate(-100%, 0%);}
    to   { transform: translate(0%, 0%);}
}
@-moz-keyframes slide-in-right {
    from { transform: translate(-100%, 0%);}
    to   { transform: translate(0%, 0%);}
}

.sidebar-out {
  height: 100vh;
  width: 240px;
  font-family: Roboto;
  font-size: 13px;
  color: white;
  background-color: var(--slate);
  top: 0;
  -webkit-animation: slide-out-left .32s;
   -moz-animation: slide-out-left .32s;
}
@-webkit-keyframes slide-out-left {
    from { transform: translate(0%, 0%);}
    to   { transform: translate(-100%, 0%);}
}
@-moz-keyframes slide-out-left {
    from { transform: translate(0%, 0%);}
    to   { transform: translate(-100%, 0%);}
}

.sidebar-hidden {
  left: -240px;
  position: fixed;
  display: block;
  height: 100vh;
  width: 240px;
  font-family: Roboto;
  font-size: 13px;
  color: white;
  background-color: var(--slate);
  top: 0;;
}

.sidebar-header {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}

.sidebar-header-left {
  padding: 0px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 118px;
  user-select: none;
    -moz-user-select: none;
      -webkit-user-select: none;
}

.sidebar-logo {
  background-image: image_url('mamba-logo-dark-bg.png');
  width: 24px;
  height: 22px;
  background-size: cover;
  display: inline-block;
}

.sidebar span {
  display: inline-block;
  font-family: Questrial;
  font-size: 24px;
  letter-spacing: 1px;
}
.sidebar-out span {
  display: inline-block;
  font-family: Questrial;
  font-size: 24px;
  letter-spacing: 1px;
}

.sidebar-close-x svg{
    margin-top: 6px;
  padding: 0px 10px;
  height: 16px;
  width: 16px;
  fill: #9ca6af;
  cursor: pointer;
  &:hover {
    fill: white;
  }
}

.sidebar a {
  width: 230px;
  border-radius: 24px;
  padding: 8px 16px;
  float: right;
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  margin-bottom: -4px;
  font-size: 24px;
  text-align: right;
  animation: slide-in-right .5s;
  -webkit-animation: slide-in-right .5s;
   -moz-animation: slide-in-right .5s;
  transition: color .24s ease-in-out;
  -webkit-transition: color .24s ease-in-out;
   -moz-transition: color .24s ease-in-out;
   &:hover {
       color:yellow;
   }
}

.new-members {
    width: 230px;
    height: 260px;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 24px;
    float: right;
    display: block;
    color: #14aaf5;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    text-align: right;
    animation: slide-up .5s;
    -webkit-animation: slide-up .5s;
     -moz-animation: slide-up .5s;
}
.new-members-out {
    width: 230px;
    height: 260px;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 24px;
    float: right;
    display: block;
    color: #14aaf5;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    text-align: right;
    animation: slide-out-left .36s;
    -webkit-animation: slide-out-left .36s;
     -moz-animation: slide-out-left .36s;
}

::-webkit-scrollbar {
    background: transparent;  /* optional: just make scrollbar invisible */
}
::-webkit-scrollbar-thumb {
    background: #14aaf5;
    border-radius: 24px;
    &:active {
        background: #008ce3;
    }
}

@keyframes slide-up {
    from { transform: translate(0%, 200%);}
    to   { transform: translate(0%, 0%);}
}
@-webkit-keyframes slide-up {
    from { transform: translate(0%, 200%);}
    to   { transform: translate(0%, 0%);}
}
@-moz-keyframes slide-up {
    from { transform: translate(0%, 200%);}
    to   { transform: translate(0%, 0%);}
}

.new-members-hidden {
    visibility: hidden;
}

.add-members-list div {
    margin: 12px 10px;
    cursor: pointer;
    transition: color .24s ease-in-out;
    -webkit-transition: color .24s ease-in-out;
     -moz-transition: color .24s ease-in-out;
    &:first-child {
        margin-top: 8px;
    }
    &:hover {
        color: white;
    }
}

.sidebar-members {
  display: block;
  margin-top: 48px;
}

.plus-icon {
    fill: #9ca6af;
    padding: 8px 16px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    float: right;
    transition: fill .24s ease-in-out;
    -moz-transition: fill .24s ease-in-out;
    -webkit-transition: fill .24s ease-in-out;
    &:hover {
        fill: #14aaf5;
    }
}

.active-plus-icon {
    fill: #14aaf5;
    padding: 8px 16px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    float: right;
    transition: fill .24s ease-in-out;
    -moz-transition: fill .24s ease-in-out;
    -webkit-transition: fill .24s ease-in-out;
    &:hover {
        fill: #9ca6af;
    }
}

.hamburger {
  position: absolute;
  z-index: 24;
  height: 42px;
  width: 42px;
  font-size: 18px;
  border-right: 1px solid #edf1f2;
  border-bottom: 1px solid var(--light-grey);
  color: #838f98;
  top: 0px;
  // left: 240px;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  transition: background .24s ease-in-out;
  -moz-transition: background .24s ease-in-out;
  -webkit-transition: background .24s ease-in-out;
}

.hamburger:hover {
  background: #edf1f2;
  border-bottom: 1px solid #edf1f2;
}
.hamburger-hidden {
  display: none;
}

.hamburger-icon {
    fill: #848f99;
    height: 16px;
    width: 16px;
}
