.sidebar-wrapper {
  float: left;
  position: relative;
  // display: inline-block;
  // z-index: 1;
}

.sidebar {
  // position: fixed;
  // display: block;
  height: 100vh;
  width: 240px;
  font-family: Roboto;
  font-size: 13px;
  color: white;
  background-color: var(--slate);
  top: 0;
  -webkit-animation: slide-in-right .32s;
   -moz-animation: slide-in-right .32s;
}

@-webkit-keyframes slide-in-right {
    from { transform: translate(-100%, 0%);}
    to   { transform: translate(0%, 0%);}
}

.sidebar-hidden {
  left: -240px;
  position: fixed;
  display: block;
  height: 100vh;
  width: 240px;
  font-family: Roboto;
  font-size: 13px;
  color: white;
  background-color: var(--slate);
  top: 0;;
}

.sidebar-close-x {
  position: absolute;
  font-size: 24px;
  color: #9ca6af;
  cursor: pointer;
  top: 8px;
  right: 15px;
}

.sidebar a {
  position: absolute;
  top: 5px;
  left: 15px;
  font-family: times;
  font-size: 24px;

}

.sidebar-close-x:hover {
  color: white;
}

.sidebar-members {
  position: absolute;
  display: block;
  top: 48px;
  left: 15px;
}

.hamburger {
  height: 41px;
  width: 41px;
  font-size: 18px;
  border: 1px solid var(--light-grey);
  border-top: none;
  color: #838f98;
  left: 240px;
  text-align: center;
  padding-top: 6px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  transition: background .24s ease-in-out;
  -moz-transition: background .24s ease-in-out;
  -webkit-transition: background .24s ease-in-out;
}

.hamburger:hover {
  background: #edf1f2;
}
.hamburger-hidden {
  display: none;
}

.ind-links {
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-family: Roboto;
  font-size: 13px;
}
