.sidebar-wrapper {
  float: left;
  position: relative;
}

.sidebar {
  height: 100vh;
  width: 240px;
  font-family: Roboto;
  font-size: 13px;
  color: white;
  background-color: var(--slate);
  top: 0;
  -webkit-animation: slide-in-right .32s;
   -moz-animation: slide-in-right .32s;
}

@-webkit-keyframes slide-in-right {
    from { transform: translate(-100%, 0%);}
    to   { transform: translate(0%, 0%);}
}
@-moz-keyframes slide-in-right {
    from { transform: translate(-100%, 0%);}
    to   { transform: translate(0%, 0%);}
}

.sidebar-hidden {
  left: -240px;
  position: fixed;
  display: block;
  height: 100vh;
  width: 240px;
  font-family: Roboto;
  font-size: 13px;
  color: white;
  background-color: var(--slate);
  top: 0;;
}

.sidebar-close-x {
  position: absolute;
  font-size: 24px;
  color: #9ca6af;
  cursor: pointer;
  top: 8px;
  right: 15px;
}

.sidebar a {
  width: 248px;
  border-radius: 24px;
  padding: 8px 16px;
  float: right;
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  margin-bottom: -4px;
  font-size: 32px;
  text-align: right;
  -webkit-animation: slide-in-right .5s;
   -moz-animation: slide-in-right .5s;
 transition: color .24s ease-in-out;
 -moz-transition: color .24s ease-in-out;
 -webkit-transition: color .24s ease-in-out;
}

@-webkit-keyframes slide-in-right {
    from { transform: translate(-100%, 0%);}
    to   { transform: translate(0%, 0%);}
}
@-moz-keyframes slide-in-right {
    from { transform: translate(-100%, 0%);}
    to   { transform: translate(0%, 0%);}
}

.sidebar a:hover {
  color: yellow;
}

.sidebar-logo {
  background-image: image_url('mamba-logo-dark-bg.png');
  width: 24px;
  height: 22px;
  background-size: cover;
  margin-left: 16px;
  transform: translateY(11px);
}

.sidebar span {
  position: absolute;
  font-family: Questrial;
  top: 10px;
  left: 44px;
  font-size: 24px;
  letter-spacing: 1px;
}

.sidebar-close-x:hover {
  color: white;
}

.sidebar-members {
  position: absolute;
  display: block;
  top: 70px;
  left: -46px;
}

.hamburger {
  height: 42px;
  width: 42px;
  font-size: 18px;
  border-bottom: 1px solid var(--light-grey);
  color: #838f98;
  left: 240px;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  transition: background .24s ease-in-out;
  -moz-transition: background .24s ease-in-out;
  -webkit-transition: background .24s ease-in-out;
}

.hamburger:hover {
  background: #edf1f2;
}
.hamburger-hidden {
  display: none;
}

.hamburger-icon {
    fill: #848f99;
    height: 16px;
    width: 16px;
}
