.main-content {
  display: block;
  border-top: 1px solid var(--light-grey);
  position: absolute;
  left: 0px;
  top: 41px;
  width: 100%;
  height: 100%;
  font-family: Roboto;
  background: #f6f8f9;
}

.main-content-header {
  display: block;
  border-bottom: 1px solid var(--light-grey);
  width: 100%;
  box-shadow: 0px 2px 2px rgba(100, 111, 121, .25);
  font-weight: 500;
  padding: 5px 24px;
  box-sizing: border-box;
  background: white;
}

.add-task-button {
  width: 75px;
  font-size: 13px;
  font-weight: 400;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  background: #14aaf5;
  height: 30px;
  text-align: center;
  color: white;
  display: block;
  padding-top: 8px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background .24s ease-in-out;
    -moz-transition: background .24s ease-in-out;
    -webkit-transition: background .24s ease-in-out;
}

.add-task-button:hover {
  background: #008ce3;
}

.add-task-button:active {
  background: #0269a9;
}

.task-wrapper {
  padding: 0px 16px;
  display: flex;
}

.task-index {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--light-grey);
  width: 100%;
  max-width: 1000px;
  min-width: 400px;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  box-shadow: 0px 2px 2px rgba(100, 111, 121, .25);
  border-radius: 3px;
  background: white;
}

.task-index-condensed {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--light-grey);
  width: 50%;
  min-width: 400px;
  margin-top: 14px;
  justify-content: space-between;
  box-shadow: 0px 2px 2px rgba(100, 111, 121, .25);
  border-radius: 3px;
  background: white;
}

.task-index-header {
  display: block;
  border-bottom: 1px solid var(--light-grey);
  z-index: 1;
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, .15);
  box-sizing: border-box;
}

.task-index-item-wrapper {
  display: inline-block;
  position: relative;
  padding-left: 24px;
  padding-right: 0px;
  border: 1px solid transparent;
  box-sizing: border-box;
  flex-shrink: 0;
}

.task-index-item-wrapper:hover {
  background: #f6f8f9;
  border-top: 1px solid var(--light-grey);
  border-bottom: 1px solid var(--light-grey);
  box-sizing: border-box;
}
.task-index-item-wrapper:focus-within {
  background: white;
  border-top: 1px solid #14aaf5;
  border-bottom: 1px solid #14aaf5;
  box-shadow: inset 0 3px 4px -1px var(--light-grey);
  box-sizing: border-box;
}

.check-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid black;
  padding-bottom: 4px;
  padding-left: 3px;
  box-sizing: border-box;
  border: 1px solid #b7bfc6;
  cursor: pointer;
  transition: background .24s ease-in-out;
    -moz-transition: background .24s ease-in-out;
    -webkit-transition: background .24s ease-in-out;
  transition: border-color .24s ease-in-out;
    -moz-transition: border-color .24s ease-in-out;
    -webkit-transition: border-color .24s ease-in-out;
}

.checked-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  transform: translateY(1px);
  border-radius: 20px;
  border: 1px solid black;
  cursor: pointer;
  padding-bottom: 4px;
  padding-left: 3px;
  box-sizing: border-box;
  border: 1px solid #25e8c8;
  background: #e2fffa;
}

.check-circle:hover {
  border-color: #25e8c8;
  background: #e2fffa;
}

.check-circle:active {
  background: #e2fffa;
}

.check-circle:hover .task-index-check{
  fill: #25e8c8
}

.task-index-check {
  height: 12px;
  fill: #848f99;
  cursor: pointer;
  transition: fill .24s ease-in-out;
    -moz-transition: fill .24s ease-in-out;
    -webkit-transition: fill .24s ease-in-out;
}

.task-index-check:hover {
  fill: #25e8c8;
}

.checked-task-index-check {
  cursor: pointer;
  height: 12px;
  fill: #25e8c8;
}

.for-line-under-circle {
  display: inline-flex;
  width: auto;
  box-sizing: border-box;
  padding-bottom: 9px;
}

.task-index-row-name-inputs {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  width: 78%;
  height: 36px;
  cursor: pointer;
  font-size: 13px;
  border: none;
  background: none;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  box-sizing: border-box;
}

.task-index-row-name-inputs:focus {
  cursor: text;
}

Link {
  text-decoration: none;
}

.dateWrapper div:last-of-type {
  position: absolute;
  padding: 4px;
  text-align: right;
  font-size: 11px;
  top: 8px;
  right: 20px;
}
