.task-form {
  position: absolute;
  font-family: Roboto;
  border: 1px solid var(--light-grey);
  height: 100vh;
  top: 86px;
  right: 16px;
  z-index: 20;
  width: 46%;
  min-width: 430px;
  background: white;
  border-radius: 3px;
  animation: slide-in .48s;
  -webkit-animation: slide-in .48s;
   -moz-animation: slide-in .48s;
}
.task-form-out {
  position: absolute;
  font-family: Roboto;
  border: 1px solid var(--light-grey);
  height: 100vh;
  top: 86px;
  right: 16px;
  z-index: 20;
  width: 46%;
  min-width: 430px;
  background: white;
  border-radius: 3px;
  animation: slide-out .5s;
  -webkit-animation: slide-out .5s;
   -moz-animation: slide-out .5s;
}

@keyframes slide-in {
    from { transform: translate(100%, 0%);}
    to   { transform: translate(0%, 0%);}
}
@-webkit-keyframes slide-in {
    from { transform: translate(100%, 0%);}
    to   { transform: translate(0%, 0%);}
}
@-moz-keyframes slide-in {
    from { transform: translate(100%, 0%);}
    to   { transform: translate(0%, 0%);}
}

@keyframes slide-out {
    from { transform: translate(0%, 0%);}
    to   { transform: translate(120%, 0%);}
}
@-webkit-keyframes slide-out {
    from { transform: translate(0%, 0%);}
    to   { transform: translate(120%, 0%);}
}
@-moz-keyframes slide-out {
    from { transform: translate(0%, 0%);}
    to   { transform: translate(120%, 0%);}
}
.task-form-exit {
  position: absolute;
  font-family: Roboto;
  border: 1px solid var(--light-grey);
  height: 100vh;
  top: 67px;
  right: 16px;
  z-index: 20;
  width: 46%;
  min-width: 430px;
  margin-top: 19px;
  background: white;
  border-radius: 3px;
  animation: slide-out .4s;
  -webkit-animation: slide-out .4s;
   -moz-animation: slide-out .48s;
}

@keyframes slide-out {
    from { transform: translate(0%, 0%);}
    to   { transform: translate(100%, 0%);}
}
@-webkit-keyframes slide-out {
    from { transform: translate(0%, 0%);}
    to   { transform: translate(100%, 0%);}
}
@-moz-keyframes slide-out {
    from { transform: translate(0%, 0%);}
    to   { transform: translate(100%, 0%);}
}

.task-form-header-left {
    display: inline-flex;
}

.completion-button {
  display: inline-flex;
  color: #646e79;
  border-radius: 3px;
  border: 1px solid #b7bfc6;
  box-sizing: border-box;
  padding: 6px 10px;
  font-size: 13px;
  text-align: center;
  align-items: center;
  margin-left: 16px;
  cursor: pointer;
  transition: background .24s ease-in-out;
  -moz-transition: background .24s ease-in-out;
  -webkit-transition: background .24s ease-in-out;

  &:hover {
    border-color: #646f79;
    background-color: #f6f8f9;
    color: #222b37;
  }
}

.deletion-button {
  display: inline-flex;
  color: #646e79;
  border-radius: 3px;
  border: 1px solid #b7bfc6;
  box-sizing: border-box;
  padding: 6px 10px;
  font-size: 13px;
  text-align: center;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  transition: background .24s ease-in-out;
  -moz-transition: background .24s ease-in-out;
  -webkit-transition: background .24s ease-in-out;
}

.deletion-button:hover {
  border-color: #de1e2f;
  background: #ff5263;;
  color: white;
}

.deletion-button:active {
  background: #de1e2f;
}


.completion-button:hover .check-mark {
  fill: black;
}

.completed-button {
  display: inline-flex;
  color: white;
  border-radius: 3px;
  border: 1px solid #25e8c8;
  background: #25e8c8;
  box-sizing: border-box;
  padding: 6px 10px;
  font-size: 13px;
  text-align: center;
  align-items: center;
  margin-left: 16px;
  cursor: pointer;
  position: relative;
}

.completed-button:hover {
  background: #00bf9c;
  border: 1px solid #00bf9c;
}

.check-mark {
  height: 16px;
  fill: #848f99;
  margin-right: 8px;
  transition: fill .24s ease-in-out;
  -moz-transition: fill .24s ease-in-out;
  -webkit-transition: fill .24s ease-in-out;

}

.completed-check {
  height: 16px;
  fill: white;
  margin-right: 8px;
  transition: fill .24s ease-in-out;
  -moz-transition: fill .24s ease-in-out;
  -webkit-transition: fill .24s ease-in-out;
}

.task-form-header {
  border-bottom: 1px solid transparent;
  border-radius: 3px 3px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  position: relative;
  padding: 10px 15px;
}

.task-form-close svg{
  fill: #848f98;
  cursor: pointer;
  font-size: 26px;
  height: 16px;
  width: 16px;
  float: right;
}

.task-form-close:hover svg{
  fill: black;
}

.task-form-content {
  border-top: 1px solid var(--light-grey);
  padding: 10px 30px;
  background: #ffffff;
  position: relative;
}

.task-form-name {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 42px;
  overflow-x: hidden;
  display: block;
  border-radius: 3px;
  border: 1px solid transparent;
  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
  color: black;
  background: white;
  line-height: 32px;
  transform: translateX(-12px);
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 10px;
  box-sizing: border-box;
  resize: none;

  &::placeholder {
    color: #9ca6af;
  }
}

.task-form-name:hover {
  border: 1px solid #d5dce0;
}

.task-form-name:focus {
  border: 1px solid #a5aeb3;
  outline: none;
}

.assignee-due-date {
    width: 295px;
    display: flex;
    justify-content: space-between;
}

//assignee icon styling

.assignee-button {
    cursor: pointer;
    display: flex;
    position: relative;
    float: left;
    border: 1px solid transparent;
    align-items: center;
    padding: 3px;
    height: 38px;
    border-radius: 38px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;

    &:hover {
      background-color: #f6f8f9;
      border-color: #646f79;
      border-style: solid;
      color: #222b37;
    }
}

.assignee-icon {
  fill: #848f99;
  height: 16px;
  width: 16px;
}

//due date styling

.date-button{
  display: flex;
  position: relative;
  float: left;
  border: 1px solid transparent;
  align-items: center;
  padding: 3px;
  padding-right: 6px;
  height: 38px;
  border-radius: 38px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 10px;

  &:hover {
    background-color: #f6f8f9;
    border-color: #646f79;
    border-style: solid;
    color: #222b37;
  }
  &:hover .due-date-calendar {
    fill: #222b37;
  }
  &:hover .calendar-circle {
    border-color: #646f79;
    border-style: solid;
    color: #222b37;
  }
  &:hover .dotted-calendar-circle {
    border-color: #646f79;
    border-style: solid;
    color: #222b37;
  }
  &:hover .clear-date-button{
      visibility: visible;
  }
}

.calendar-circle {
  display: block;
  vertical-align: bottom;
  border: 1px solid #b7bfc6;
  padding-top: 6px;
  padding-left: 6px;
  height: 30px;
  width: 30px;
  border-radius: 24px;
  box-sizing: border-box;
  margin-right: 0px;
}

.dotted-calendar-circle {
  display: block;
  vertical-align: bottom;
  border: 1px dashed #b7bfc6;
  padding-top: 6px;
  padding-left: 6px;
  height: 30px;
  width: 30px;
  border-radius: 24px;
  box-sizing: border-box;
  float:left;
}

.due-date-calendar {
  fill: #848f99;
  height: 16px;
  width: 16px;
}

.due-date {
  display: inline-block;
  margin-left: 10px;
  margin-right: 5px;
}

  .due-date-heading {
    display: block;
    color: #646f79;
    font-size: 13px;
    font-weight: 400;
  }
  .due-dated-heading {
    display: block;
    color: #646f79;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 400;
  }

  .due-date div:last-child {
    font-size: 13px;
  }

  .past {
    display: block;
    font-weight: 400;
    color: #ed4758;
  }
  .soon {
    display: block;
    font-weight: 400;
    color: #00bf9c;
  }
  .future {
    display: block;
    font-weight: 400;
    color: #646f79;
  }

.desc-icon {
  height: 16px;
  width: auto;
  min-width: 16px;
  fill: #b7bfc7;
  margin-top: 8px;
}
.form-spacer {
  height: 8px;
  border-top: 1px solid var(--light-grey);
  margin-bottom: 10px;
  margin-right: 30px;
  display: flex;
  padding: 10px;
  width: 95%;
}

.date-input {
  font-family: Roboto;
  position: absolute;
  top: 1px;
  left: 0px;
  width: 100%;
  color: transparent;
  height: 100%;
  background: none;
  border: none;
  border-radius: 38px;

  &::-webkit-datetime-edit-month-field {
    display: none;
  }
  &::-webkit-datetime-edit-day-field {
    display: none;
  }
  &::-webkit-datetime-edit-year-field {
    display: none;
  }
  &::-webkit-inner-spin-button {
    visibility: hidden;
  }
  &::-webkit-clear-button {
    visibility: hidden;
  }
  &::-webkit-calendar-picker-indicator {
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    cursor: pointer;
  }
}

.clear-date-button {
    height: 14px;
    width: 14px;
    border-radius: 14px;
    background: #848f99;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    z-index: 24;
    visibility: hidden;
    cursor: pointer;
    &:hover {
        background:#646f79;
    }
    & svg {
        fill: white;
        height: 10px;
        width: 10px;
    }
}

.cleared-date-button {
    height: 0px;
    width: 0px;
    & svg {
        fill: white;
        height: 0px;
        width: 0px;
    }
}

.task-form-description {
  font-family: Roboto;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 96%;
  max-width: 96%;
  min-width: 96%;
  min-height: 24px;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 8px 10px;
  padding-bottom: 24px;
  border: none;
  margin-left: 10px;
  color: black;
  background: white;
  font-size: 13px;
  border: 1px solid transparent;
  resize: none;
  &::placeholder {
    color: #9ca6af;
  }
}

.task-form-description:hover {
  border: 1px solid #d5dce0;
}

.task-form-description:focus {
  border: 1px solid #a5aeb3;
  outline: none;
}
