.main-content {
  display: block;
  border-top: 1px solid var(--light-grey);
  position: absolute;
  left: 0px;
  top: 41px;
  width: 100%;
  height: 100%;
  font-family: Roboto;
  background: #f6f8f9;
}

.main-content-header {
  display: block;
  width: 100%;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
  font-weight: 400;
  padding: 5px 24px;
  box-sizing: border-box;
  background: white;
}

.add-task-button {
  display: flex;
  width: 75px;
  font-size: 13px;
  font-weight: 400;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
  background: #14aaf5;
  height: 30px;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
  transition: background .24s ease-in-out;
    -moz-transition: background .24s ease-in-out;
    -webkit-transition: background .24s ease-in-out;

    &:hover {
      background: #008ce3;
    }
    &:active {
      background: #0269a9;
    }
}

.task-wrapper {
  padding: 0px 16px;
  padding-top: 14px;
  display: flex;
  justify-content: space-between;
}

.task-index {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
  width: 100%;
  max-width: 1000px;
  min-width: 890px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  box-shadow: 0px 2px 2px rgba(100, 111, 121, .25);
  border-radius: 3px;
  background: white;
}

.task-index-condensed {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
  width: 100%;
  max-width: 1000px;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  box-shadow: 0px 2px 2px rgba(100, 111, 121, .25);
  border-radius: 3px;
  background: white;
}

.task-index-header {
  display: block;
  border-bottom: 1px solid var(--light-grey);
  z-index: 1;
  box-sizing: border-box;
}

.task-index-item-selected {
  display: inline-block;
  position: relative;
  padding-left: 24px;
  padding-right: 24px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-sizing: border-box;
  flex-shrink: 0;
  background: #eef9fe;

  & .checked-circle {
    background: #25e8c8;
    border: 1px solid #25e8c8;
  }

  & .task-index-row-name-inputs-completed {
    color: #647079;
  }
}

.task-index-item-selected:hover {
  border-top: 1px solid var(--light-grey);
  border-bottom: 1px solid var(--light-grey);
  box-sizing: border-box;
}

.task-index-item-selected:focus-within {
  background: white;
  border-top: 1px solid #14aaf5;
  border-bottom: 1px solid #14aaf5;
  box-shadow: inset 0 3px 4px -1px var(--light-grey);
  box-sizing: border-box;

  & + .task-index-item-wrapper{
    border-top: 1px solid transparent;
  }

  & .checked-circle {
    background: #b2ebe1;
    border: 1px solid #b2ebe1;
    &:hover {
      border-color: #00bf9c;
      background: #00bf9c;
    }
  }

  & .task-index-row-name-inputs-completed {
    color: #bfc7cc;
  }

  & .task-index-item-dotted-circle {
    visibility: visible;
  }
}

.flash {
    align-items: stretch;
    position: absolute;
    left: 0px;
    height: 100%;
    width: 0px;
    background-image: linear-gradient(90deg, #25e8c8, #25e8c8 50%, #14aaf5);
    background-size: cover;
    z-index: 22;
    transition: width .24s, opacity .36s;
}

.task-index-item-wrapper {
  display: inline-block;
  position: relative;
  padding-left: 24px;
  padding-right: 24px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-sizing: border-box;
  flex-shrink: 0;
  justify-content: space-between;

  &:hover {
    background: #f6f8f9;
    border-top: 1px solid var(--light-grey);
    border-bottom: 1px solid var(--light-grey);
    box-sizing: border-box;
    & .task-index-item-dotted-circle {
      visibility: visible;
    }
  }
  &:focus-within {
    background: white;
    border-top: 1px solid #14aaf5;
    border-bottom: 1px solid #14aaf5;
    box-shadow: inset 0 3px 4px -1px var(--light-grey);
    box-sizing: border-box;

    & + .task-index-item-wrapper{
      border-top: 1px solid transparent;
    }
    &:hover .task-index-item-dotted-circle{
      visibility: visible;
    }
  }
}

.task-index-filler {
    display: inline-block;
    position: relative;
    padding-left: 24px;
    padding-right: 0px;
    border: 1px solid transparent;
    box-sizing: border-box;
    flex-shrink: 0;
    height: 100vh;
}

.check-circle {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  background: white;
  width: 20px;
  height: 20px;
  transform: translateY(1px);
  border-radius: 20px;
  box-sizing: border-box;
  border: 1px solid #b7bfc6;
  cursor: pointer;
  transition: background .24s ease-in-out;
    -moz-transition: background .24s ease-in-out;
    -webkit-transition: background .24s ease-in-out;
  transition: border-color .24s ease-in-out;
    -moz-transition: border-color .24s ease-in-out;
    -webkit-transition: border-color .24s ease-in-out;
  &:hover, &:focus {
    outline: none;
    border-color: #25e8c8;
    background: #e2fffa;
    .task-index-check {
      fill: #25e8c8;
    }
  }
  &:active {
    background: #e2fffa;
  }
}

.checked-circle {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  width: 20px;
  height: 20px;
  transform: translateY(1px);
  border-radius: 20px;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #b2ebe1;
  background: #b2ebe1;
  z-index: 23;
  &:hover, &:focus {
    outline: none;
    border-color: #00bf9c;
    background: #00bf9c;
  }
}

.task-index-check {
  height: 12px;
  fill: #848f99;
  cursor: pointer;
  transition: fill .24s ease-in-out;
    -moz-transition: fill .24s ease-in-out;
    -webkit-transition: fill .24s ease-in-out;
}

.checked-task-index-check {
  cursor: pointer;
  height: 12px;
  fill: white;
  z-index: 23;
}

.for-line-under-circle {
  display: inline-flex;
  width: auto;
  box-sizing: border-box;
  align-items: center;
}

.task-index-row-name-inputs {
  position: relative;
  display: inline-block;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
  height: 36px;
  cursor: pointer;
  font-size: 13px;
  border: none;
  background: none;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  box-sizing: border-box;
  font-family: Roboto;
  z-index: 23;
  &:focus {
    cursor: text;
    &::placeholder {
      color: #bfc7cc;
    }
  }
  &::placeholder {
    color: transparent;
  }
}

.task-index-row-name-inputs-completed {
  position: relative;
  display: inline-block;
  color: #bfc7cc;
  white-space: nowrap;
  overflow: hidden;
  width: 79%;
  height: 36px;
  cursor: pointer;
  font-size: 13px;
  border: none;
  background: none;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  box-sizing: border-box;
  font-family: Roboto;
  z-index: 23;
  &:focus {
    cursor: text;
    &::placeholder {
      color: #bfc7cc;
    }
  }
  &::placeholder {
    color: transparent;
  }
}

Link {
  text-decoration: none;
}

.index-item-right {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  right: 24px;
  top: 6px;
  min-width: 100px;
}

.task-index-item-avatar-circle {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  height: 24px;
  width: 24px;
  border: 1px solid transparent;
  border-radius: 24px;
  box-sizing: border-box;
  background: linear-gradient(to top right, #ff5263 0%, #ff7381 35%, #fcbd01 100%);
  color: white;
  font-family: Questrial;
  font-size: 12px;
}

.task-index-item-dotted-circle {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  height: 24px;
  width: 24px;
  border: 1px dashed #b7bfc6;
  border-radius: 24px;
  box-sizing: border-box;
  visibility: hidden;

  // &:hover {
  //   fill: #222b37;
  //   border: 1px solid ;
  //   cursor: pointer;
  // }
  //
  // &:hover .task-index-item-assignee-icon {
  //   fill: #222b37;
  // }
}

.task-index-item-assignee-icon {
  fill: #848f99;
  height: 14px;
  width: 14px;
}

.date-wrapper {
  display: inline-flex;
  position: relative;
  padding-top: 6px;
  padding-right: 6px;
  text-align: right;
  font-size: 11px;
}

// .date-wrapper div:last-of-type {
//   display: inline;
//   // position: absolute;
//   padding: 4px;
//   text-align: right;
//   font-size: 11px;
//   top: 8px;
//   right: 20px;
// }

.index-date-input {
  z-index: 24;
  font-family: Roboto;
  position: absolute;
  top: 0px;
  right: 0px;
  color: transparent;
  height: 100%;
  width: 100%;
  background: none;
  border: none;

  &::-webkit-datetime-edit {
    visibility: hidden;
  }
  &::-webkit-inner-spin-button {
    visibility: hidden;
  }
  &::-webkit-clear-button {
    visibility: hidden;
  }
  &::-webkit-calendar-picker-indicator {
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    cursor: pointer;
  }

  &:focus ::-webkit-datetime-edit {
      visibility: visible;
  }
  &::-moz-datetime-edit {
    visibility: hidden;
  }
  &::-moz-inner-spin-button {
    visibility: hidden;
  }
  &::-moz-clear-button {
    visibility: hidden;
  }
  &::-moz-calendar-picker-indicator {
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    cursor: pointer;
  }

  &:focus ::-moz-datetime-edit {
      visibility: visible;
  }
}
