.splash-nav {
  display: flex;
  position: relative;
  top: 0;
  height: 56px;
  width: 100%;
  left: 0;
  justify-content: space-between;
  padding: 12px 0px;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(100, 111, 121, .25);
}

.splash-nav button {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  right: 175px;
  margin-right: 24px;
}

.nav-right {
  flex-shrink: 0;
  font-size: 24px;
  left: 18px;
  margin-top: 0px;
  margin-left: 20px;
  min-width: 105px;
  font-family: Questrial;
  letter-spacing: -2px;
}

.masthead {
  display: flex;
  position: sticky;
  flex-wrap: wrap;
  left: 24%;
  width: 500px;
  margin-right: 120px;
  margin-top: 120px;
}

.masthead a {
  font-size: 5.5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  width: 480px;
  margin-bottom: 48px;
}

.masthead section {
  width: 100%;
  min-width: 405px;
  font-size: 1.375rem;
  line-height: 1.636;
  font-weight: 400;
  color: #636e79;
  font-family: Raleway;
}

.nav-login {
  color: #646e78;
  padding: 0px;
  border: none;
}

.nav-login:hover {
  color: #796eff;
}

.demo {
  background: white;
  color: #796eff;
    transition: color .24s ease-in-out;
    -moz-transition: color .24s ease-in-out;
    -webkit-transition: color .24s ease-in-out;
  border: 2px solid #796eff;
  padding: 5px 16px;
  padding-right: none;
  border-radius: 3px;
}

.demo:hover {
  background: #796eff;
  color: white;
}

.splash-nav a{
  font-size: 24px;
  left: 18px;
  margin-left: 20px;
  min-width: 105px;
  font-family: Questrial;
  letter-spacing: -2px;
}

.nav-right-buttons{
  display: block;
  width: 200px;
  min-width: 200px;
}

.splash {
  background-image: image_url('mamba_bg.png');
  height: 100vh;
  background-size: cover;
  background-position: top;
  animation: magic 5s infinite;
}
