.splash-nav {
  display: flex;
  position: relative;
  border: 1px solid red;
  top: 0;
  width: 100%;
  left: 0;
  justify-content: space-between;
  padding: 12px 0px;
}

.splash-nav button {
  color: #646e78;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  padding: 0px;
  right: 175px;
  border: none;
  margin-right: 24px;
}

.splash-nav button:hover {
  color: #796eff;
}

.splash-nav a{
  font-size: 24px;
  left: 18px;
  margin-left: 20px;
  min-width: 105px;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(21,27,38,.85);
  z-index: 10;
  -webkit-animation: fadein 2s;
   -moz-animation: fadein 2s;
}

.modal-child {
  display: block;
  box-shadow: 1px 2px 3px rgba(0,0,0,.24);
  position: absolute;
  top: 66px;
  left: 50%;
  transform: translate(-58%, 0%);
  width: 90%;
  max-width:900px;
  min-width: 450px;
  padding-left: 112px;
  padding-right: 112px;
  padding-bottom: 70px;
  // height: 750px;
  background: white;
  border-radius: 3px;
  margin: 50px;
  box-sizing: border-box;
  -webkit-animation: dropdown .75s;
   -moz-animation: dropdown .75s;
}

@-webkit-keyframes dropdown {
    from { transform: translate(-58%, -100%);}
    to   { transform: translate(-58%, 0%);}
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1;}
}
